<footer class="footer">
	<p class="footer-intro">
		<%
			var date = new Date();
			var year = date.getFullYear();
		%>
		@<%=  year %> <%= config.title %>.
	</p>
	<p class="footer-intro">
			Powered By <a href="https://hexo.io/zh-cn/" target="_blank">hexo</a>
			theme <a href="https://github.com/FingerLei/Hexo_Theme_mokusei" target="_blank">mokusei</a> by <a href="https://fingerlei.github.io" target="blank">Fingerlei</a>
	</p>
</footer>



